/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
body {
    background-color: #FFF; /*f8f8f8*/
}
textarea {
    resize: none !important;
}
.c-center{
    margin: 0 auto;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.ic-color{
    color:  #25B7BC;
}
.color-gray{
    color: #848484;
}
.marg_sup{
    margin-top: -1%;
}
.marg_sup0{
    margin-top: -1.5%;
}
.marg_sup1{
    margin-top: 1px;
}
.marg_sup2{
    margin-top: 2%;
}
.marg_inf{
    margin-bottom: 3%;
}
.sub-page{
    width: 100%;
}
/**Error Alert*/
.alert-danger{
    color: #FFF !important;
    background-color: #EF3636 !important;
}

.ajuste td{
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
}
.ajuste td:nth-last-child(1){
    white-space: normal;
}

/* ======= Pag. General ======= */
#wrapper {
    width: 100%;
}
#wrapper .logo1{
    display: inline-block;
    width: 25%;
}
#wrapper .logo2{
    display: inline-block;
    margin-left: 2%;
    width: 20%;
}
#page-wrapper {
    background: #C3D4DC;
    margin: 0 0 0 250px;
    padding: 0 30px;
    padding-top: 2%!important;
    min-height: 690px!important; /*650*/
   /* background: red;
    padding: 0 15px;
    padding-top: 5% !important;*/
}
/*.page-main{
    background: -moz-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1)));
    background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
    background: -o-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
    background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
    background-size: 100% 120%;
}*/
.page-main{
    background: url(../../../../img/marca_agua6.png);
    background-size: 100%;
    height: 600px;
}
.logo-main{
    width: 40%;
}
.checkbox label{
    color: #848484;
}
.panel-body textarea{
    margin-top: 2%;
    min-height: 5em;
}
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}
.ic-modal{
    color: #25B7BC;
    margin-right: 2%;
}
.ic-buscar{
    color: #6E6E6E;
}
.ic-buscar-btn .btn, .ic-peso-btn .btn{
    padding: 5px 12px !important;
    height: 35px !important;
}
    .ic-buscar-input{
    border-radius: 4px 0px 0px 4px;
    margin-top: .2%;
}
.ic-peso-input{
    border-radius: 0px 4px 4px 0px;
    margin-top: -.5%;
}
.ic-buscar-btn2 .btn{
    background: blue;
}
.ic-msj{
    padding: 0% 2% 0% 10%;
}
.ic-porcentaje{
    font-weight: 900;
}

.form-group .form-control[disabled]{
    border-radius: 4px 0px 0px 4px;
}
.pagination > li > a{
    color: #777;
}
.ref, .ref:hover{
    text-decoration: none;
    color: #585858;
}
.register {
    margin: 0 auto;
    width: 50%;
}

.margin-input{
    margin-top: 1%;
}
/** Elementos generales*/
.msj{
    margin-top: 2%;
}

/*Formato IVA*/
.label-iva{
    margin-top: 5%;
}
.iva .radio{
    display: inline-block;
    width: 15%;
}
.text-muted{
    font-size: 11px;
}


/** Botones **/
.vst-1 .btn{ color: #fff; }
.btn-inicio1{ background: #4AB0A1; }
.btn-inicio2{ background: #38867B; }
.btn-inicio3{ background: #2D6B62; }
.btn-inicio4{ background: #214F48; }

/* ======= Iniciar Sesión ======= */
.login-container {
    background: #FFF;
}
.login .logo{
    display: inline-block;
    padding: 1% 0%;
    padding-left: 5%;
    /*padding: 2%;*/
    width: 27%;
}
.login .logo .logo2{
    margin-left: 7%;
    width: 50%;
}
.login .container{
   /* background: url(../../../../img/fondof.jpg); */

    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

    background-size: 100% 100%;
    height: 36em;
    padding: 4%;
    width: 100%;
}
.login .cont-gral-form {
    height: 25em;
}
.login .cont-form{
    position: relative;
    top: -24em;
    width: 35%;
}
.login .logo img{
    width: 80%;
}
.login .logo_anexo img{
    width: 12%;
}
.login .logo_arm img{
    width: 9%;
}
.login .font-cont-form{
    /*background: #D5D5D5;*/
    background: #FFF;
    border-radius: 2%;
    height: 25em;
    opacity: .6;
    width: 35%;
}
.login .cont-form fieldset, .login .cont-form h2, .login .cont-form .row{
    border-bottom: 1px solid #B7B7B7;
    padding: 5%;
    width: 80%;
}
.login .cont-form .checkbox a:hover{
    text-decoration: none;
    color: #346C9E;
}
.login .cont-form .form-control{
    background: transparent;
    border-color: #B7B7B7;
    width: 91%;
}
.login .cont-form input[type="submit"] {
    background: transparent;
    margin-left: -24%;
}
.login .cont-form .row{
    border: none;
     width: 100%;
}
.login .cont-form .row .col-md-8, .login .cont-form .form-group{
    color: #B40404;
}
/* ======= Header =======*/
.navbar{
    background: #FFFFFF;
}
.navbar img{
    width: 100%;
}
.nav-side{
    margin-top: 4.6% !important;
}
.nav-side i,.navbar i:first-child{
    color: #4AB0A1 ;
}
.nav-side ul li{
    border-color: #D8D8D8!important;
}
.nav-side ul li a{
    color: #655B5A;
    padding: 7%;
}
.nav-side ul li a:hover, .nav-side ul li a:focus{
    background: none;
    border-left: 5px solid #25B7BC;
    /*border-bottom: 5px solid #B6CE33;*/
}
.nav-side ul li ul{
    background: #FAFAFA;
}
.nav-side ul li ul li a{
    color: #655B5A;
    border-bottom: 1px solid #D2D2D2;
    padding: 4%;
}
.nav-side ul li ul li a:hover{
    border-left: none;
    color: #A4A4A4;
}
.nav-side a{
    color: #555;
}
.nav-side i{
    margin-right: 7%;
}
.nav-side .active{
    color: #8D8D8D;
}

.navbar-top-links {
    margin-right: 1.5%;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    color: #655B5A;
    padding: 15px;
    min-height: 50px;
}
.navbar-top-links li a:hover{
    color: #A4A4A4;
}
.navbar-top-links li a:focus {
    background: none!important;
}
.navbar-top-links .dropdown-menu li {
    display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    color: #000000;
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}
.navbar-top-links .cont-user {
    margin-top: 2%;
}
.navbar-top-links .cont-user a{
    display: inline-block;
}
.navbar-top-links .cont-user div{
    display: inline-block;
    width: 20%;
}
.navbar-top-links .cont-user div img{
    width: 100%;
}
.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}



.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}



.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    color: #4AB0A1;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.nav-tabs{
    border-bottom: none !important;
}
.nav-tabs > li > a {
    background: #FAFAFA;
    font-size: 12px;
    color: #D8D8D8;
    border: 1px solid #E6E6E6;
    cursor: pointer;
}
.nav-tabs > li > a:hover {
    color: #BDBDBD;
}
.nav-tabs > li.active > a {
    font-weight: bold;
    color: #1C1C1C;
}
.nav-tabs > li.noactive > a {
    font-weight: bold;
    color: #D8D8D8;
}
/* ======= Inicio =======*/
/*Vista 1*/
/*Pasos Ciclo*/
.vst-1 .panel-default a{
    color: #000000;
}
.vst-1 .panel-default a:hover{
    color: #B6CE33;
    text-decoration: none;
}
.vst-1 .panel-default .c-ciclo{
    margin-top: 6.3%;
}
.vst-1 .panel-default .c-ciclo button{
    margin-left: 5%;
    margin-right: 5%;
}
.vst-1 .panel-default .c-conta{
    margin-top: 4%;
    margin-left: 15%;
}
.vst-1 .panel-default .c-conta i{
    color: #B6CE33;
    margin-right: 10%;
}
.vst-1 .panel-default .c-adec{
    margin-bottom: 7%;
    width:100%;
}
.vst-1 .panel-default .c-gral{
    margin-top: 5%;
}
.vst-1 .panel-default .c-gral button{
    margin-left: 5%;
    margin-right: 5%;
}

/*Estructura*/
.cont-btns {
    margin: 3% 0% 4% 0%;
    /*margin: 8% 0 3% 0;*/
}
.cont-btns-c {
    margin: 7% 0% 4% 0%;
    /*margin: 8% 0 3% 0;*/
}
.cont-btns .btn, .cont-btns-c .btn {
    margin-right: 1%;
}

#egresos_estrucura .col-lg-4:nth-child(1), #egresos_estrucura .col-lg-4:nth-child(2), #egresos_estrucura .col-lg-4:nth-child(3){
    margin-bottom: 1%;
}

#estructura_egresos_contenido .form-group .title-form, #estructura_ingresos_contenido .form-group .title-form{
    background:#f8f8f8; padding: .5% 0;
}

#estructura_egresos_contenido #buscar_nivel1, #estructura_egresos_contenido #buscar_nivel2,
#estructura_egresos_contenido #buscar_nivel3, #estructura_egresos_contenido #buscar_nivel4,
#estructura_egresos_contenido #buscar_nivel5, #estructura_egresos_contenido #buscar_nivel6,
#estructura_ingresos_contenido #buscar_nivel1, #estructura_ingresos_contenido #buscar_nivel2,
#estructura_ingresos_contenido #buscar_nivel3, #estructura_ingresos_contenido #buscar_nivel4,
#estructura_ingresos_contenido #buscar_nivel5{
    margin: 2% 0%;
}
#estructura_egresos_contenido #forma_nivel1, #estructura_egresos_contenido #forma_nive12,
#estructura_egresos_contenido #forma_nivel3, #estructura_egresos_contenido #forma_nivel4,
#estructura_egresos_contenido #forma_nivel5, #estructura_egresos_contenido #forma_nivel6,
#estructura_ingresos_contenido #forma_nivel1, #estructura_ingresos_contenido #forma_nivel2,
#estructura_ingresos_contenido #forma_nivel3, #estructura_ingresos_contenido #forma_nivel4,
#estructura_ingresos_contenido #forma_nivel5 {
    margin: 3% 0%;
}
#estructura_egresos_contenido .formas, #estructura_ingresos_contenido .formas{ min-height: 6.5em; }

#estructura_egresos_contenido .form-group .title-form h5, #estructura_ingresos_contenido .form-group .title-form h5{
    /*color: #F2F2F2;*/
    /*color: #B6CE33;*/
    color: gray;
    margin-bottom: 0%;
}
#estructura_egresos_contenido .form-group .title-form label, #estructura_ingresos_contenido .form-group .title-form label{
    /*color: #FFF;*/
}
#estructura_egresos_contenido .cont_grafica, #estructura_ingresos_contenido .cont_grafica{
    margin: 3% 0%;
}
/*Adecuaciones*/
.disabled-color{
    background: #E6E6E6 !important;
    margin-top: .3%
}
/*Consulta Partida*/
.cont-mes{
    font-size: 16px;
    /*color: slategray;*/
    font-weight: normal;
    width: 100%;
}
.cont-mes i{
    color: #B6CE33;
    padding-right: 5%;
}
/*Agregar Precompromiso*/
.toolbar-editor, .editor{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
}
.toolbar-editor{
    margin-bottom: 2%;
    margin-left: .2%;
}
.toolbar-editor .btn i{
    color: #A4A4A4;
}
.toolbar-editor .btn i:hover{
    color: #B6CE33;
}
.toolbar-editor .btn-info{
    background: #F2F2F2;
}
.totales{
    font-size: 15px;
}
.totales p{
    margin-top: 2%;
    padding: 3%;
}
.editor{
    min-height: 200px!important;
}
.add-pre .form-control, .add-pre .radio, .editor{
    color: #848484;
}
.ic-calendar {
    background: url(../../../../img/calendar.png) no-repeat;
    background-position: 97%;
}
.add-pre .form-control{

    margin-bottom: 2% !important;
}

/*Visualización*/
.input_view {
    background: #FAFAFA;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #848484;
    margin-bottom: 3%;
    padding: 6px 12px;
    min-height: 2.5em;
}
/*Tabla*/
/*Opcional*/
/*.table-striped > tbody > tr:nth-child(odd){
    background: #ffffff;
}*/
.table-gral .row{
    padding-right: 0!important;
    width: 101.5%;
}
.table-gral .row .col-sm-6{
   padding-right: 0!important;
}
.table-gral .row .col-sm-6:nth-child(2){
    text-align: right;
}
.input-group-btn > .btn{
    margin-top: -15%;
}
.sg-dollar, .sg-dollar:hover{
    background: none;
    cursor: default;
}
.table-prec thead{
    font-size: 15px;
}

.table-details td:last-child{
    text-align: center;
}

/*Estilo Tabla de forma general*/
.table-gral thead{
    font-size: 12px;
}
.table-gral tbody{
    font-size: 12px;
}
.table-gral td a{
    margin-right: 6%;
}
.table-gral td a:nth-child(5){
    margin-right: 0%;
}
.table-gral td a i{
    font-size: 20px;
    color: #6E6E6E;
}
.table-gral td a:hover {
    color: #B6CE33;
    cursor: pointer;
}
.table-gral td button{
    width: 100%;
}
.table-formant-sign{
    display: inline-block;
    width: 10%;
}
.table-formant-coin{
    display: inline-block;
    text-align: right;
    width: 90%;
}
.timeline-panel{
    text-align: center;
}
.btn-estatus{
    padding: 5px 3px;
}
.btn-green{
    background: #047A9E;
    color: #FFF;
}
.btn-green:hover{
    background: #088DB6;
    color: #FFF;
}
.btn-gray-ox{
    background: #848484;
    border-color: #848484;
    color: #FFF;
}
.btn-gray{
    background: rgba(246,246,246,1);
    background: -moz-linear-gradient(45deg, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 1%, rgba(250,250,250,1) 50%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(246,246,246,1)), color-stop(1%, rgba(246,246,246,1)), color-stop(50%, rgba(250,250,250,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(45deg, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 1%, rgba(250,250,250,1) 50%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(45deg, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 1%, rgba(250,250,250,1) 50%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 1%, rgba(250,250,250,1) 50%, rgba(237,237,237,1) 100%);
    background: linear-gradient(45deg, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 1%, rgba(250,250,250,1) 50%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ededed', GradientType=1 );
}
.btn-gray:hover{
    background: rgba(246,246,246,0.98);
    background: -moz-linear-gradient(45deg, rgba(246,246,246,0.98) 0%, rgba(230,230,230,0.89) 50%, rgba(189,189,189,0.79) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(246,246,246,0.98)), color-stop(50%, rgba(230,230,230,0.89)), color-stop(100%, rgba(189,189,189,0.79)));
    background: -webkit-linear-gradient(45deg, rgba(246,246,246,0.98) 0%, rgba(230,230,230,0.89) 50%, rgba(189,189,189,0.79) 100%);
    background: -o-linear-gradient(45deg, rgba(246,246,246,0.98) 0%, rgba(230,230,230,0.89) 50%, rgba(189,189,189,0.79) 100%);
    background: -ms-linear-gradient(45deg, rgba(246,246,246,0.98) 0%, rgba(230,230,230,0.89) 50%, rgba(189,189,189,0.79) 100%);
    background: linear-gradient(45deg, rgba(246,246,246,0.98) 0%, rgba(230,230,230,0.89) 50%, rgba(189,189,189,0.79) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#bdbdbd', GradientType=1 );
}
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
.btn-size{
    width: 56%;
}
.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

/* ===== Ciclo ===== */
.input_ver{
    background-color: #FAFAFA;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #848484;
    margin-bottom: 4%;
    padding: 6px 12px;;
}
/*Precompromiso*/
.niveles-pc .form-control{
    font-size: 13.5px;
}
.niveles-pc .btn {
   margin-top: 15%;
   width: 100%;
}
.btns-finales{
    padding: 3% 0%;
}
.btns-finales .btn-default{
    margin-right: 2%;
}
.btns-finales .left{
    margin-right: 70%;
}
/** Form Steps*/
.carousel-control.left, .carousel-control.right{
    background: none!important;
    position: relative;
}
.carousel-control.left span, .carousel-control.right span{
    color: #f8f8f8;
}
/*Tabla índice*/
.table-prec .t1{width: 6.5%;}
.table-prec .t2{width: 15%;}
.table-prec .t3{width: 13%;}
.table-prec .t8{width: 10%;}
/*
.table-prec .t2{width: 20%;}
.table-prec .t3{width: 13%;}
.table-prec .t4{width: 13%;}
.table-prec .t6{width: 11%;}
.table-prec .t7{width: 9.3%;}
.table-prec .t9{width: 9.5%;}
*/
/*Tabla Detalles*/
.tp1{
    background: red;
}
/*Vista*/
.label-f{ height: 2.1em; line-height: 2.5;}

.c-firme label {
    font-size: 1.2em;
}
.i-firmesi, .i-firmeno {
    color: #B6CE33;
    font-size: 3em!important;
    margin-left: 27%;
}
.i-firmeno {
    color: #E75252;
}
.btn-firmea{
    background: none;
    color: green;
}
.btn-firmec{
    background: none;
    color: red;
}
.btn-firmea, .btn-firmec{
    font-size: 1.1em;
}
.btn-gd{
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
    width: 20%;
}
.ver-prec p{
    color: #848484;
}
/*Contabilidad*/
.table-poliza-result, .table-poliza-result-f{
    border: 2px solid #B6CE33;
    padding: .5%;
    border-radius: 0em 1em 0em 1em;
}
.table-poliza-result-f{
    border: 2px solid #B11313;
}
/*Reportes*/
#reportes-contabilidad .active, #reportes-presupuestos .active, #reportes-administracion .active{
    /*color: #047A9E;*/
}
#reportes-contabilidad .col-lg-12, #reportes-presupuestos .col-lg-12, #reportes-administracion .col-lg-12{
    padding: .5% 0%;
}
.b-espec{
   margin-top:-19% !important;
}
.menu-reportes, .menu-reportes-p{
    margin-top: 1%!important;
}
.menu-reportes .catalogo-caja{
    height: 10em!important;
}
.menu-reportes-p .catalogo-caja{
    height: 8em!important;
}

.btn-reportes{
    background: #f8f8f8;
    border: none;
    opacity: .5;
}
.btn-reportes:hover{
    opacity: .9;
}
.cont-reportes-op{
    margin-top: 1.5%;
}
.cont-reportes-op .col-lg-3:first-child{
    margin-left: 1.5%;
}
.cont-reportes-op .col-lg-3{
    /*background: url(../../../../img/textura4.png);
    background-position: left;*/
    border: 1px solid #F2F2F2;
    border-radius: 3%;
    box-shadow: 5px 5px 5px #F2F2F2;
    margin: 0% 1.5%;
    width: 30%;
    padding-bottom: 0%;
}
.cont-reportes-op h4{
    background: #F9F9F9;
    /*background: #000000;*/
    color: #000000;
    margin-left: -5%;
    margin-top: 6%;
    opacity: .5;
    padding: 2% 8%;
    width: 80%;
}
.cont-reportes-op p{
    margin-left: -5%;

}
.cont-reportes-op .cont-titulo-reporte{
    background: #ffffff;
    width: 100%;
    padding: 5% 15%;
}
.cont-ic-report{
    padding: 5%;
}
.ic-report{
    color: #000000;
    opacity: .5;
    font-size: 2em!important;
}
.ic-report:hover{
    color: #B6CE33;
}
.ic-report:nth-child(1){
    margin-right: 5%;
}
/*Contra Recibo Pago*/

/*Movimiento Bancario*/
#modal_tipo .modal-content{
    margin: 0 auto;
    margin-top: 20%;
    width: 80%;
}
#modal_tipo .modal-content .form-group .radio{
    padding-left: 10%;
}
.c_periodo{
    margin: 0 auto;
    margin-top: 1%;
    width: 70%;
}
/*Catalogos*/
.menu-catalogos{
    cursor: pointer;
    margin-top: 15%;
}
.menu-catalogos .col-xs-3{margin-top: 2%;}
.menu-catalogos .catalogo-caja{
    background:#FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 5%;
    /*box-shadow: 5px 5px 5px #F2F2F2;*/
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 5% 10%;
    height: 12em;
    width: 90%;
}
.menu-catalogos .catalogo-caja i{
    color: #047A9E;
    margin-bottom: 5%;
    font-size: 3em;
}
.menu-catalogos .catalogo-caja:hover{
    background: #f8f8f8;
    box-shadow: 5px 5px 5px #D5D5D5;
    opacity: .8;
}
.menu-catalogos .catalogo-caja i.margin{
    margin-left: 5%;
}
.ic-catalogo {
    color: #25B7BC;
    padding-right: 6%;
}
.ic-catalogo-emergente{
    color: #25B7BC;
    padding-right: 2%;
}
/*Manuales / Políticas*/
.manuales{
    margin: 0 auto;
    margin-top: 5%;
    width: 70%;
}
.cont-manuales a{
    border: none;
    background: transparent;
}
.cont-manuales a:hover{
    background: #CBDBE3;
}
.ic-armonniza{ width: 18%; }

/*Almacenes*/
.cont_almacenes{
    margin: 0 auto;
    width: 45%;
}
.cont_almacenes h2{
    color: #B6CE33;
    padding: 10% 0% 5% 0%;
}

.cont_almacenes i{
    color: #002E6E;
    font-size: 5em;
}
/*Canales de Venta*/
.cont_canales i{
    color: #002E6E;
    padding-right: 2%;
}
.cont_canales .cont_detalles{
    background: #f8f8f8;
    border-radius: 3%;
    box-shadow: 5px 5px 5px #F2F2F2;
}
.cont_canales .cont_detalles h4{
    padding: 6% 0%;
}
/*Perfil Usuario*/
.perfil-usuario{
    margin: 0 auto;
    width: 50%;
}
.perfil-usuario label{
    color: #696969;
    margin-top: 1%;
}
.perfil-usuario .cont{  margin-top: 3%; }
.btn-perfil{  margin-top: 8%; }
.btn-perfil .back{ width: 30%; }

.btn-perfil input[type="submit"]{
    background: #047A9E;
    color: #FFF;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
 }
.btn-perfil input[type="submit"]:hover{
    background: #088DB6;
}
/*Modals*/
.modal-3 td:nth-child(3), .modal-4 td:nth-child(4), .modal-5 td:nth-child(5), .modal-7 td:nth-child(7), .modal-9 td:nth-child(9), .modal-10 td:nth-child(10), .modal-prove td:nth-child(4), .modal-gasto td:nth-child(6), .modal-pre td:nth-child(9), .modal-com td:nth-child(11){
    text-align: center;
}

.modal-action td a i{
    color: #4B6DAA;
}
.modal_borrar .control-label, .modal_recaudar .control-label, .modal_poliza .control-label,.resultado_poliza .control-label, .modal_solicitar_terminar .control-label, .resultado .control-label, .modal_terminar .control-label, .modal_conciliar .control-label {
    font-weight: normal;
}
.modal .control-label{
    font-weight: normal;
}
/*Modal Editar detalle*/
.modal_edit_detalle .control-label{
    margin-top: 2%;
}
/*Tooltip*/
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 100%;
    margin-bottom: 5px;
    margin-left: -50px;
    padding: 7px;
    width: 85px;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}
[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 100%;
    margin-bottom: 5px;
    margin-left: -50px;
    padding: 7px;
    width: 85px;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}
.menu-reportes [data-tooltip]:before {
    bottom: 250%;
}
.menu-reportes [data-tooltip]:after {
    bottom: 250%;
    left: 30%;
}


/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;

}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/*Validación*/
textarea.error, select.error, input.error{
    background: #FDF8F8;
    border-color: #EECECE;
}
label.error{
    color: #CC5D5D;
}

/*
.error-gral .error:nth-child(odd) {
    background: #FDF8F8;
    border-color: #EECECE;
}
.error-gral .error:nth-child(even) {
    color: #DF0101;
}
.error-detalle .error:nth-child(odd) {
    color: #DF0101;
}
.error-detalle .error:nth-child(even) {
    background: #FDF8F8;
    border-color: #EECECE;

}*/
.error .sg-dollar{
    vertical-align:32px;
}
/*Recaudación*/
.forma_devengado .radio{
    display: inline-block;
    width: 25%;
}
.forma_devengado .label-iva{
    margin-right: 12%;
}
/*Formatos Impresión*/
.error-completar{ margin-top: 4%; }
.datos-requeridos{
    margin: 0 auto;
    margin-top: 2%;
    width: 100%;
}
.datos-requeridos .form-group{ margin-top: 2%; }
.datos-requeridos .form-group{ margin-top: 2%; }
.datos-requeridos select,.datos-requeridos textarea {color: #848484; }
.datos-requeridos .textarea-big{
    height: 16em;
    text-align: justify;
}
.datos-requeridos .textarea-xl-big{
    height: 25em;
    text-align: justify;
}
.datos-requeridos .textarea-small{
    height: 5em;
    text-align: justify;
}
/* ======= Reportes ======= */
.label_sig {
    color:#848484;
    width:100%;
}
/* ======= Admin Menú ======= */
.cont-menu-admin {
    margin: 6% 0% 3% 0%;
}
.cont-menu-admin i{
    color: #047A9E;
    font-size: 1.5em;
}
.cont-menu-admin a {
    text-decoration:none;
}
.menu-admin, .menu-admin-calendar, .menu-admin-calendar-ic{
    background: #F8F8F8;
    border-radius: 5px;
    color: #A4A4A4;
    display: inline-block;
    margin-right: .5%;
    padding: .5%;
    width: 12%;
}
.menu-admin:hover{
    background: #F2F2F2;
    color: #333;
}
.menu-admin-calendar{
    background: #F8F8F8;
    border-radius: 0px 5px 5px 0px;
    color: #969696;
    width: 10%;
    padding: .7%;
    margin-top: -6%;
}
.menu-admin-calendar-ic{
    background: #047A9E;
    color: #FFF;
    margin-left: 3%;
    margin-right: -1%;
    width: 7%;
}
.menu-admin-calendar-ic i{
    color:  #FFF;
    font-size: 1.5em !important;
}
/* ======= Admin Empresa ======= */
.cont-admin .cont{
    padding: 1%;
}
.cont-admin label{
    font-weight: normal;
}
.cont-admin img{
    width: 70%;
}
.cont-admin-img{
    margin-top: 4%;
}
.cont-admin-img .col-lg-6{
    background: #FFF;
    padding: 5%;
}
/* ======= Admin Estructuras ======= */
.form_datos_estructura label{
    margin: 2% 0%;
}
/* ======= Responsive Desing ======= */
@media(max-width:1350px) {
    .login .cont-form h2{
        /*background: red;*/
    }
}
@media(max-width:1280px) {
    .login .cont-form h2{
        /*background: yellow;*/
    }
    .login .logo_arm img{  width: 11%;  }
    .forgot .cont-form h2{ font-size: 26px;  }
    .forgot .cont-form { margin-top: 1%;  }
}
@media(max-width:1024px) {
    .login .cont-form h2 {
        /*background: orange;*/
    }
    .login .cont-form, .login .font-cont-form {  width: 38%;  }
    .login .cont-form {  margin-top: 3%;  }
    .login .font-cont-form {  height: 23em;  }
    .login .logo_arm img {  width: 13%;  }
    .forgot .cont-form { margin-top: 1%;  }
}
@media(max-width:896px) {
    .login .cont-form h2{
        /*background: brown;*/
    }
    .login .cont-form input[type="submit"]{ float: right; }
    .login .cont-form, .login .font-cont-form {  width: 42%;  }
    .login .font-cont-form {  height: 22em;  }
    .login .cont-form {  margin-top: 5%;  }
    .login .logo img {  width: 10%;    }
    .forgot .cont-form { margin-top: 1%;  }

}
@media(max-width:768px) {
    .login .cont-form h2{
        /*background: blue;*/
    }
    .login .cont-form, .login .font-cont-form {  width: 50%;  }
    .login .cont-form {  margin-top: 6%;  }
    .login .logo img {  width: 11%; }
    .login .logo_arm img {  width: 14%;  }
    .forgot .cont-form { margin-top: 1%;  }

}
@media(max-width:580px) {
    /*Login*/
    .login .cont-form h2{
        /*background: pink;*/
        font-size: 23px;
    }
    .login .logo img {  width: 25%; }
    .login .logo_arm img {  width: 25%;  }
    .login .container { height: 31em;}
    .login .cont-form, .login .font-cont-form {  width: 70%;  }
    .login .cont-form {  margin-top: 13%;  }
    /*Recuperar contraseña*/
    .forgot .cont-form { margin-top: 3%;  }
    .forgot .cont-form h2{ font-size: 24px;  }

}

.border-left {
    border-left: 1px dotted #959496;
}

.border-right {
    border-right: 1px dotted #959496;
}

.border {
    border-top: 1px dotted #959496 ;
    border-right: 1px dotted #959496 ;
}

.color td:nth-child(1){
    background: #EBCAF0;
    text-align: center;
}

.color td:nth-child(2){
    background: #F8ECE1;
    text-align: center;
}

.color td:nth-child(3), .color td:nth-child(7), .color td:nth-child(11), .color td:nth-child(15), .color td:nth-child(19), .color td:nth-child(23),
.color td:nth-child(27), .color td:nth-child(31), .color td:nth-child(35), .color td:nth-child(39), .color td:nth-child(43), .color td:nth-child(47), .color td:nth-child(51){
     background: #EFF8E1;
     text-align: right;
 }

.color td:nth-child(4), .color td:nth-child(8), .color td:nth-child(12), .color td:nth-child(16), .color td:nth-child(20), .color td:nth-child(24),
.color td:nth-child(28), .color td:nth-child(32), .color td:nth-child(36), .color td:nth-child(40), .color td:nth-child(44), .color td:nth-child(48), .color td:nth-child(52){
    background: #DDD6E3;
    text-align: right;
}

.color td:nth-child(5), .color td:nth-child(9), .color td:nth-child(13), .color td:nth-child(17), .color td:nth-child(21), .color td:nth-child(25),
.color td:nth-child(29), .color td:nth-child(33), .color td:nth-child(37), .color td:nth-child(41), .color td:nth-child(45), .color td:nth-child(49), .color td:nth-child(53){
    background: #E4DEE3;
    text-align: right;
}

.color td:nth-child(6), .color td:nth-child(10), .color td:nth-child(14), .color td:nth-child(18), .color td:nth-child(22), .color td:nth-child(26),
.color td:nth-child(30), .color td:nth-child(34), .color td:nth-child(38), .color td:nth-child(42), .color td:nth-child(46), .color td:nth-child(50), .color td:nth-child(54){
    background: #DFE1F8;
    text-align: right;
}

.margen {
    padding-left: 1%;
    padding-right: 5%;
}

.margen-meses {
    padding-left: 1%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

